.descriptionContainer {
  padding: 10rem 0 4rem 0;
  position: relative;
}

.descriptionContainer::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(
      90deg,
      #ffffff -45.04%,
      rgba(255, 255, 255, 0) 102.87%
    ),
    #d8f6ff;
}

.valuePropContainer {
  padding: 5rem;
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #fff4d4;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.valuePropContainer::after {
  content: "";
  background: url("/ui-kit/icon/vector.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  left: 80%;
  z-index: 99;
  width: 50%;
  height: 50%;
}
